
#Title{
  text-align: center;
  text-decoration: underline;
  text-shadow: large;
  color: white;
}
#info{
  background;
  margin-left: 50px;
  background-attachment: fixed;
  position: relative;
  color: white;
  font-size: 20px;
}
